#geral {
	margin: 0 auto;
	width: 800px;
	border: 0px solid rgb(7, 27, 59);
}

#title {
	margin: 0 auto;
	border: 1px solid rgb(7, 27, 59);
	width: 600px;
	height: 40px;
}

#body {
	margin: 0 auto;
	border: 0px solid rgb(7, 27, 59);
	min-height: 600px;
}

#body-text {
	margin: 4px auto;
	border: 1px solid rgb(7, 27, 59);
	width: 600px;
	height: 400px;	
}

#menu-home {
	margin: 0;
	padding: 0;
	text-transform: none;
	text-decoration: none;
}

/*#menu-home li a {
	text-decoration: none;
	color: orange;
}
*/
a {
	text-decoration: none;
	color: orange;
}

a:visited {
	color: purple;
}

a:hover {
	color: red;
}

h1 {
	margin: 0 auto;
	padding: 0;
}